*.Rhistory
*.DS_Store*
*adj-ord-pnas.pdf
*adjective-ordering.pdf
*adj-ord-revised.pdf
*adj-ord\ cover\ letter.pdf
*.aux
*.dvi
*.bbl
*.log
*DGfS-adj-order-abstract-submission.pdf
*DGfS-adj-order-abstract-jd.pdf
*diff.pdf

writing/short-paper/cover_letter.docx

writing/short-paper/cover_letter.pdf

writing/short-paper/revision/review_notes.md

writing/short-paper/revision/adj-ord-supplement.pdf

writing/short-paper/revision/adj-ord-supplement.out

writing/short-paper/revision/tableS.1.pdf

writing/short-paper/revision/table1.pdf

writing/short-paper/revision/tableS.1.out

presentations/DGfS/DGfS-adj-order-abstract-final.pdf

corpus_results/data/~$swbd_adjectives.combined.xlsx

subjectivity-expanded_invoice.csv

writing/long-paper/adj-ord-long.pdf

writing/long-paper/adj-ord-long.blg

writing/long-paper/adj-ord-long.out

corpus_results/noun_effects/data/swbd.tab

corpus_results/noun_effects/data/bnc.tab

writing/long-paper/cover_letter.docx

writing/long-paper/OPMI-S-16-00003-3.pdf

writing/long-paper/cover_letter.docx

writing/long-paper/reviews/review_notes.md

writing/long-paper/cover_letter.docx

writing/long-paper/reviews/reviews.pdf

writing/long-paper/revision/adj-ord-supplement.pdf

writing/long-paper/revision/adj-ord-supplement.blg

writing/long-paper/revision/adj-ord-supplement.pdf

writing/long-paper/revision/adj-ord-supplement.out

writing/long-paper/revision/adj-ord-supplement.blg

writing/long-paper/revision/adj-ord-supplement.blg

*.blg

writing/long-paper/revision/adj-ord-revised.blg

*.out

experiments/analysis/~$participant-overlap.xlsx
