*.Rhistory
*.DS_Store*
*adj-ord-pnas.pdf
*adjective-ordering.pdf
*adj-ord-revised.pdf
*adj-ord\ cover\ letter.pdf
*.aux
*.dvi
*.bbl
*.log
*DGfS-adj-order-abstract-submission.pdf
*DGfS-adj-order-abstract-jd.pdf
*diff.pdf
*.tab

writing/short-paper/cover_letter.docx

writing/short-paper/cover_letter.pdf

writing/short-paper/revision/review_notes.md
